*~

#dynamically generated yii files
src/protected/runtime/yii*
src/protected/runtime/*log

#Eclipse project config
.project
.settings/

#User netbeans project config files
project.*

#User sqlconfig
src/protected/config/sql.inc.php
/nbproject/private/