*~

#dynamically generated yii files
src/protected/runtime/yii*
src/protected/runtime/gii*
src/protected/runtime/*log
src/protected/runtime/state.bin

#Eclipse project config
.project
.settings/

#User netbeans project config files
project.*
nbproject/

#User sqlconfig
src/protected/config/sql.inc.php

#SASS
src/assets/*/
